/* Font importing. */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf");}

@font-face {
    font-family: "LoRes";
    src: url("../fonts/LoRes9OTWide-Bold.ttf");
}

/* CSS Reset. */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html, body {
 height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;
}

/* Navbar (Fixed position). */
.nav-wrapper {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: #5b575c;
    
}

body {
    font-family: "Roboto";
}

.name {
    margin-left: 50px;
    font-size: 35px;
    font-family: "Roboto";
    color: #F1C232;
}

nav a {
    text-decoration:none;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #F1C232;
}

.hero {
    width: 100%;
    height: 1080px;
    padding-top: 100px;
    background-image: 
    linear-gradient(
      rgba(86, 86, 118,.75), 
      rgba(86, 86, 118,.75)
    ),
    url("../images/hero.png");
    /* Hero image positioning and size. */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; 
    display: flex;
    justify-content: space-evenly;
    
}

.hero-text-plus-character {
    width: max-content;
}

.hero-character {
    position: relative;
    top: 130px;
    left: 384px;
}

.hero-text-wrapper {
    position: relative;
    z-index: 1;
    left:-6px;
    width: max-content;
    color: #F1C232;
}

.hero-text-name {
    font-family: "Roboto-Light";
    font-size: 60px;
}

.hero-text-career {
    font-family: "LoRes";
    font-size: 47px;
}

.projects {
    width: 100%;
    height: 980px;
    background-color: #513d55;
    margin: 0 auto;
}

.title {
    margin: 0 auto;
    width: min-content;
    padding-top: 100px;
    margin-bottom: 100px;
    font-size: 30px;
    color: white;
}

.projects-imgs-wrapper {
    display: flex;
    justify-content: space-around;
    width: 1101px;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto;
    margin-top: 150px;
}

.project-single-wrapper {
    width: 300px;
    font-size: 20px;
    color: white;
}

.project-img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    /* Project image positioning and sizing. */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    margin-bottom: 20px;
}

.kijete-img {
    background-image: url("../images/hero.png");
}

.alchemy-img {
    /* Altered sizing for different aspect ratio image.*/
    background-size: contain;
    background-image: url("../images/alchemy.png");
}

.jpg-img {
    background-image: url("../images/jpg.png");
}

.about {
    width: 100%;
    height: 980px;
    background-color: #45294c;
    margin: 0 auto;
}

.about-wrapper {
    /* Flex Center */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.about-img {
    position: relative;
    left: -100px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
}

.about-text {
    width: 1000px;
    font-size: 20px;
    color: white;
}

.contact {
    width: 100%;
    height: 980px;
    background-color: #3c2342;
}

.contact-title {
    margin-bottom: 0;
}

.forms-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 40px;
}

.form-name {
    margin-top: 22px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

.form input {
    width: 567px;
    height: 53px;
    background: none;
    border: 3px solid white;
    color: white;
}

.form .contact-comment {
    height: 200px;
}

.submit-button {
    width: 237px;
    height: 53px;
    margin-top: 45px;
    background: none;
    border: white solid;
    border-radius: 27px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
}

/* Change button color on hover and on click. */
.submit-button:hover {
    background-color: #4c2655;
}

.submit-button:active {
    background-color: #9048a1;
}

footer {
    height: 50px;
    background-color: #2a152f;
}